<!DOCTYPE html>
<html lang="en">
<head>
	<%- include partials/head.ejs %>
</head>

<body ng-app="LightManagerApp">
	<div ng-controller="LightManagerController" class="container-fluid">
		<div class="panel panel-default">

		<%- include partials/menu.ejs %>

			<div class="panel-body">
				<div class="tab-content">

					<div class="tab-pane fade in" id="lightsTab">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-1 col-xs-9" >
									<span class="h3" class="panel-title">Lights</span>
								</div>

								<div class="col-md-1 col-xs-2" >
									<a href="#" class="btn btn-default" ng-click="allLights({ color : 'white' } )">White</a>
								</div>


								<div class="col-md-1 col-xs-2" >
									<a href="#" class="btn btn-default glyphicon glyphicon-off " ng-click="allLights({ onOff : true})" ng-if="!allLights.onOff"></a>
									<a href="#" class="btn btn-default btn-primary glyphicon glyphicon-off" ng-click="allLights({ onOff : false})" ng-if="allLights.onOff"></a>
								</div>

								<div class="col-md-2 col-xs-2" >
									<!-- NG MODDEL in the switch below is hardcoded, needs to be Dynamic! -->
									<select
										ng-model="light.allLights.brightness"
										ng-options="x for x in [0, 1, 10,20,30,40,50,60,70,80,90,100]"
										name="allLightsBrigthnessSlider"
										id="allLightsBrigthnessSlider"
										ng-change="allLights({brightness : light.allLights.brightness })">
									></select>
								</div>


							</div>
						</div>


						<ul class="list-group">
							<li class="row list-group-item" ng-repeat="light in lights">
								<div class="col-md-1 col-xs-4" >
									{{ light.displayName }}
								</div>

								<div class="col-md-1 col-xs-2" >
									<a href="#" class="btn btn-default" ng-click="sendLightCommand(light.name, { color : 'white' } )">White</a>
								</div>

								<div class="col-md-1 col-xs-2" >
									<!-- NG MODDEL in the switch below is hardcoded, needs to be Dynamic! -->
									<a
										name="{{ light.name }}SwitchOn"
										id="{{ light.name }}SwitchOn" href="#"
										class="btn btn-default glyphicon glyphicon-off"
										ng-click="sendLightCommand(light.name, { onOff: true } )"
										ng-if="!light.actualStatus.onOff"></a>

									<a
										name="{{ light.name }}SwitchOff"
										id="{{ light.name }}SwitchOff" href="#"
										class="btn btn-default glyphicon glyphicon-off btn-primary"
										ng-click="sendLightCommand(light.name, { onOff: false } )"
										ng-if="light.actualStatus.onOff"></a>

								</div>

								<div class="col-md-2 col-xs-2" >

									<select
										ng-if="light.interface.dimmer"
										ng-model="light.actualStatus.brightness"
										ng-options="x for x in [0, 1, 10,20,30,40,50,60,70,80,90,100]"
										name="{{ light.name }}{{ interfaceOption.name }}Slider"
										id="{{ light.name }}{{ interfaceOption.name }}Slider"
										ng-change="sendLightCommand(light.name , {brightness : light.actualStatus.brightness})">
									></select> ( {{ light.actualStatus.brightness }} )

									<select
										ng-if="light.interface.rgb"
										ng-model="light.actualStatus.color"
										ng-options="colorObject.id as colorObject.name for colorObject in light.interface.rgb.values"
										ng-change="sendLightCommand(light.name , { color : light.actualStatus.color })">
									</select>

								</div>
							</li>
						</ul>

					</div> <!-- End of id="lightsTab" -->



					<div class="tab-pane fade active in" id="programsTab">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3 col-xs-9" >
									<span class="h3" class="panel-title">Light Programs</span>
								</div>
							</div>
						</div>

						<ul class="list-group">
							<li class="row list-group-item">
								<div class="col-md-2 col-xs-4">
									All lights
								 </div>

								<div class="col-md-2 col-xs-2" >
									<a href="#" class="btn btn-default glyphicon glyphicon-off " ng-click="allLights({ onOff : true})" ng-if="!allLights.onOff"></a>
									<a href="#" class="btn btn-default btn-primary glyphicon glyphicon-off" ng-click="allLights({ onOff : false})" ng-if="allLights.onOff"></a>
								</div>

								<div class="col-md-3 col-xs-4">
									<select
										ng-model="allLights.brightness"
										ng-options="x for x in [10,20,30,40,50,60,70,80,90,100]"
										name="allLightsBrigthnessSlider"
										id="allLightsBrigthnessSlider"
										ng-change="allLights({ brightness : allLights.brightness })">
									>
									</select>
								</div>
							</li>

							<li class="list-group-item">

								<div class="col-md-2 col-xs-2" >
									<input type="text" name="displayName" />
								</div>

								<div class="col-md-3 col-xs-4">
									<input type="button" value="Save">
								</div>
							</li>

							{{ lightManager.scenes }}

							Name: <input type="text" ng-model="interface.programName">
							Alias <input type="text" ng-model="interface.programAlias">
							<input type="button" ng-click="persistLightStatusAsScene()" value="Save!">

							<script>/*

							<ng-repeat ng-repeat="program in availablePrograms">
								<li class="row list-group-item">

									<ng-if ng-if="program.statusToApply.length > 0">
										<div class="col-md-6 col-xs-4" ng-class="{'bg-success': program.key == activeProgram}">
											<a href="" ng-click="sendLightProgramByKey(program.key)">{{ program.displayName }}</a>
										</div>
									</ng-if>

									<ng-if ng-if="program.childPrograms.length > 0">
										<div class="col-md-2 col-xs-4">
											{{ program.displayName }}
										</div>

										<ng-repeat ng-repeat="childProgram in program.childPrograms">
											<div class="col-md-2 col-xs-2">
												<a href="#" class="btn btn-default" ng-class="{'btn-primary': childProgram.id == activeProgram}" ng-click="toggleLightProgramByKey(childProgram.id, this)">{{ childProgram.displayName }}</a>
											</div>
										</ng-repeat>

									</ng-if>
								</li>
							</ng-repeat>
							<script>/* */</script>
						</ul>
					</div>

					<div class="tab-pane fade" id="notificationsTab">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-3 col-xs-9" >
									<span class="h3" class="panel-title">Notifications</span>
								</div>
							</div>
						</div>
						<ul class="list-group">
							 <li ng-repeat="notification in notifications" class="row list-group-item">
								 <div class="alert alert-{{ notification.type }}" role="alert" >
									 <span class="h4">{{ notification.title }}</span>
									 <span class="h6">{{ notification.date | date:'medium' }}</span>
									 <p>{{ notification.text }}</p>
								 </div>
							 </li>
						</ul>
					</div>


					<div class="tab-pane fade" id="camerasTab">
						<div class="panel-body">
							<h3 class="panel-title">Cameras</h3>
						</div>
						<ul class="list-group">
							<li class="row list-group-item" ng-repeat="camera in cameras">
								<div class="col-md-6 col-xs-6">{{ camera.displayName }} <img src="/cameras/watch/{{ camera.cameraName }}" /></div>
							</li>

						</ul>
					</div>


					<div class="tab-pane fade" id="heatersTab">

						<div class="panel-body">
							<div class="row">
								<div class="col-md-3 col-xs-9" >
									<span class="h3" class="panel-title">Heaters</span>
								</div>
							</div>
						</div>

						<ul class="list-group">
							<ng-repeat ng-repeat="(name, heater) in heaters">
								<li class="row list-group-item" >
									<div class="col-md-1 col-xs-3"  >
										{{ heater.displayName }}
									</div>
									<div class="col-md-1 col-xs-3">
										{{ heater.temperature | number: 2 }}°
									</div>
									<div class="col-md-1 col-xs-3">
										{{ heater.humidity | number: 2 }}%
									</div>

									<div class="col-md-1 col-xs-3">
										<span class="label label-success" ng-if="heater.power > 0">{{ heater.power }}</span>
									</div>

									<div class="col-md-1 col-xs-10">
										<input type="text" ng-model="heaters[name].desiredTemperatureFromInterface">
									</div>

									<div class="col-md-1 col-xs-10">
										<span ng-class="{
										'text-success': (heaters[name].desiredTemperatureFromInterface == heaters[name].desiredTemperatureFromHeater),
										'text-danger' : (heaters[name].desiredTemperatureFromInterface != heaters[name].desiredTemperatureFromHeater) }"
										>
										{{ heater.desiredTemperatureFromHeater }}
										</span>
									</div>


									<div class="col-md-1 col-xs-12" ng-if="heater.isDown">
										<span class="label label-danger">Down since {{ heater.lastResponse | date:'yyyy-MM-dd HH:mm:ss Z' }}</span>
									</div>

								</li>
							</ng-repeat>

							<li class="row list-group-item" >

								<ng-repeat ng-repeat="temp in [17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21,21.5,22 ]">
									<a class="btn btn-default glyphicon glyphicon-off" ng-click="setAllHeaters(temp)">{{ temp }}</a>
								</ng-repeat>

							</li>
						</ul>
					</div>
				</div> <!-- end tab-content -->
			</div>

			<div class="panel-footer">
				<p>
					Home is {{ home.isAlone ? 'alone' : 'occupied' }} since {{ home.sinceWhen | date: 'medium' }}. Now: {{ localWeather.main}}, {{ localWeather.currentTemperature }}&deg; Min {{ localWeather.minimumTemperature }}&deg; Max {{ localWeather.maximumTemperature}} &deg;
				</p>
				<p>
					{{ lightManager.programs.activeProgram }}
				</p>
			</div>

		</div><!-- Closing panel panel-default -->
	</div><!-- End ng-controller LightManagerController -->
</body>

</html>
